[2016-11-14 08:38] prithi opened #1 "Not working on theano backed"
Do you have a plan to make a theano version of this tool?

[2016-11-14 15:55] jakebian commented on #1
the only TF specific part is a sessions workaround that was needed to make the webserver thread work, Ican you describe what specific issue that you're having? Or is it only the tensorflow import is failing?

[2016-11-14 16:41] jdespraz opened #2 "404 error"
Hi,

Thanks for sharing your tool. Unfortunately, I cannot make it work properly, whenever the server is running, it seems to be idle and navigating to localhost:<port> gives me a 404 not found error (so the server responds but there is nothing to display).

Any thoughts?
Thank you!

Here is a sample of the code that creates the issue:
[code]

and here is the output of this script:
[code]

[2016-11-14 16:52] jakebian commented on #2
Can you paste the log from the terminal?

[2016-11-14 16:54] jdespraz commented on #2
I just updated the original post

[2016-11-14 17:17] prithi commented on #1
I am using Windows 10 and Theano for backend. Tensorflow is not installed in my system.

Here is my sample code

`from keras.models import model_from_json
from quiver_engine.server import launch

json_file = open('model\model.json', 'r')
model_json = json_file.read()
json_file.close()
model = model_from_json(model_json)
# load weights into new model
model.load_weights("weight\VGG19_v1_finetune.bes

[2016-11-14 17:22] jakebian commented on #1
Yeah as of now tensorflow is a dependency - but I think there's a way to do the import conditionally by checking what backend keras is configured to use, I'll look into this!

[2016-11-14 17:25] jakebian commented on #2
Oops I see the issue - setup.py is not correctly uploading the built dashboard to the pypi repo, so the dashboard files are missing, sorry!

While I work on restoring that, try cloning the repo and running the dashboard per the instruction under "Development" in the readme.

[2016-11-14 17:46] prithi commented on #1
Please look into the problem. IMO, Quiver is the best visualization tool for Keras.

[2016-11-14 17:50] unrealwill opened #3 "get_shape undefined with keras 1.1.0"
With keras version '1.1.0', it was not knowing the get_shape in server.py line 25
I had to clone the repository and
modify it to single_input_shape = model.get_input_shape_at(0)[1:3]

I also add (not specified in your quickstart) to install better-npm-run and do a npm install.

It seems to resolve this error but I then bump into an other issue ( idle 127.0.0.1 - - [2016-11-14 18:37:18] "GET / HTTP

[2016-11-15 04:24] jakebian commented on #2
updated the pypi package, do a pip upgrade and lemme know if it works!

[2016-11-15 06:32] zulmaster commented on #2
Hello.
Have same error. Installed by pip.
`Using TensorFlow backend.
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcufft.so locally
I tensorflow/stream_executo

[2016-11-15 06:41] jakebian commented on #2
@zulmaster
- what do you get when you do `pip show quiver_engine`
- try upgrading your npm and node

[2016-11-15 07:38] zulmaster commented on #2
Version: 0.1.3.1
Summary: Interactive per-layer visualization for convents in keras
Home-page: UNKNOWN
Author: Jake Bian
Author-email: jake@keplr.io
License: mit
Location: /usr/local/lib/python2.7/dist-packages
Requires: pillow, flask, keras, numpy, gevent, flask-cors

ok

[2016-11-15 07:50] kmader opened #4 "No module named 'imagenet_utils'"
```ImportError: No module named 'imagenet_utils'``` which seems to be coming from this line

https://github.com/jakebian/quiver/blob/master/quiver_engine/util.py#L4
which refers to this library
https://github.com/fchollet/deep-learning-models/blob/master/imagenet_utils.py

It seems like this dependency is anyways only valid if the training set is imagenet based so maybe it would be good to make th

[2016-11-15 07:55] jakebian commented on #4
Odd. An imagenet_utils file is included here https://github.com/jakebian/quiver/blob/master/quiver_engine/imagenet_utils.py. Could be a Python imports issue - are you on python 3?

Removing imagenet-specific code is something we definitely should do, agreed.

[2016-11-15 07:57] kmader commented on #4
ah, yea I just saw that, I am on python 3 and so there are a lot of references that don't work, I'll fork it and use the ```from ___future__ import absolute_import``` to keep everything consistent

[2016-11-15 07:58] jakebian commented on #4
Great - feel free to send a PR once you've done that!

[2016-11-15 08:13] jdespraz commented on #2
Same for me unfortunately, I still have the 404 error with quiver-engine version 0.1.3.1 and the same npm error during the install from the repo.

[2016-11-15 10:44] varoudis commented on #2
same here:
10.200.200.14 - - [2016-11-15 10:41:28] "GET / HTTP/1.1" 404 342 0.004962
10.200.200.14 - - [2016-11-15 10:41:30] "GET / HTTP/1.1" 404 342 0.001274

Im building from source with python setup.py develop

[2016-11-15 15:41] carlthome commented on #4
Yikes, no Python 3 support? I ran into the same issue.

[2016-11-15 15:50] kretes commented on #2
I have the same issue - I've put up a really minimalistic docker file to start quiver: https://gist.github.com/kretes/44734faaac63a04c8214976292aff2d6 and have 404 when going to localhost:5000

[2016-11-15 16:00] kretes commented on #4
I guess this https://github.com/jakebian/quiver/pull/5 solve this problem?

[2016-11-15 18:57] jakebian commented on #2
Thanks all for your patience, pushed a [fix](https://github.com/jakebian/quiver/commit/a8950e63fbd2080a6043d8d0e53f51460f23efee) and this time verified on my machine that it works with a clean install. Let me know if there are any more issues!

[2016-11-15 19:11] jakebian commented on #3
Good catch, looks like `get_input_shape_at` is compatible with older versions too so yes we should use that instead. Feel free to send your branch with that as a PR! The 404 issue should be fixed now.

[2016-11-15 20:26] isaacgerg opened #6 "Work with Theano"
Get this working with Theano.  Moreso, get it working with the keras genetic backend so that it works smoothly with both th and tf.

[2016-11-15 20:27] jakebian commented on #6
Duplicate of https://github.com/jakebian/quiver/issues/1

[2016-11-15 20:28] #6 closed

[2016-11-15 20:34] isaacgerg commented on #1
I am several models built with Keras running Windows 7 and python 3.4 using the theano backend.  How can I help you with this issue?

[2016-11-15 20:51] kretes commented on #2
Hmm unfortunately I cannot get this to run, or maybe I miss something about setting up quiver from master?

My setup is fully reproducable in docker: https://gist.github.com/kretes/44734faaac63a04c8214976292aff2d6

there is a Dockerfile with my installation instructions and example python script I run in the docker container.

I can connect to localhost:5000 but I get 404 which is confirmed in ser

[2016-11-15 20:57] jakebian commented on #1
[Made the theano import optional](https://github.com/jakebian/quiver/commit/fa0ee734dc9af41d699eddbc07b6aa3d12f8ee46), and running with KERAS_BACKEND=theano works for me. Can you guys verify?

[2016-11-15 20:57] jakebian commented on #3
Made the change in https://github.com/jakebian/quiver/commit/fa0ee734dc9af41d699eddbc07b6aa3d12f8ee46

[2016-11-15 20:57] #3 closed

[2016-11-15 21:15] isaacgerg commented on #1
the import for imagenet_utils is wrong in server.py,  should be keras.applications.imagenet_utils import decode_predictions.

[2016-11-15 21:16] kretes commented on #2
Ok I still cannot install the product from git but installing from pip works now (at least I see UI at 5000)

[2016-11-15 21:16] isaacgerg commented on #1
same with util, should be keras.utils.
What version of keras are you building to?

[2016-11-15 21:18] jakebian commented on #1
@isaacgerg these are local files, I think you're having issues due to python3 import issues, which will be fixed by https://github.com/jakebian/quiver/pull/5

[2016-11-15 21:19] isaacgerg commented on #1
deprocess_image is not in the current keras build as you call it.  Its in the examples directory in keras now.

[2016-11-15 21:20] jakebian commented on #2
Great. What do you mean you cannot install from git?

[2016-11-15 21:21] isaacgerg commented on #1
@jakebian   I see, these are local files as you said.  I was thinking you were using the files from keras.  I have to have my CWD set up and they should import.  Sorry!

[2016-11-15 21:21] jakebian commented on #1
@isaacgerg utils is [this file](https://github.com/jakebian/quiver/blob/master/quiver_engine/util.py), you're just having python 3 import issues

[2016-11-15 21:25] kretes commented on #2
doing those steps:

[code]

and running simple server still gave me 404 ...

[2016-11-15 21:29] kretes opened #8 "No model on the GUI"
After running quiver with a tensorflow model - I see images from my directory but I do not see the model on the left.

some errors in web console.

![quiver](https://cloud.githubusercontent.com/assets/1224887/20324912/ae47ecf2-ab82-11e6-9d07-d3ad2832ac3c.png)

server code:
[code]

(this code is loading my model, but the same happens with simple keras model created here)

server logs:
[code]

Anyth

[2016-11-15 21:29] jakebian commented on #2
Ah yes, as mentioned in the readme, if you want to run it locally with setup.py, you need to either compile the dashboard (`npm run deploy:prod`) or run it in development mode (`npm start`).

[2016-11-15 21:29] isaacgerg commented on #1
I am loading on port=5001.  Upon executing server.lauch the browser says 404 Not found.

[2016-11-15 21:30] isaacgerg commented on #1
When using port 5000, it says Only one usage of each socket address is normally permitted.

[2016-11-15 21:32] jakebian commented on #1
Are you building it locally with setup.py? If so as mentioned in the readme you need to compile the dashboard locally too.

side note: pip install should work now.

[2016-11-15 21:33] jakebian commented on #2
Sounds like this is solved, closing

[2016-11-15 21:33] #2 closed

[2016-11-15 21:35] isaacgerg commented on #1
sorry, im being such a noob.  Let me do the pip install and see if it works.... stand by

[2016-11-15 21:36] AStrangeQuark opened #9 "input_path is truncated before being passed to get_layer_outputs in server.py"
We are running Quiver on Keras' default VGG16 model. Running the application works until we try to click on a layer and try to see the selected image's activations.

After numerous inserted print() statements, it appears that the code that asks for a generated prediction is giving only the image file name rather than the full path to the image; consequently we _were_ able to see the predictions fr

[2016-11-15 21:38] isaacgerg commented on #1
Did "pip install quiver", was successful. Tried to run again, 404 not found.  Do i have to run npm?

[2016-11-15 21:39] jakebian commented on #8
Looks like I didn't test this thoroughly with the Sequential API (not the functional API), but looks like a client side graph generation issue, should be quick, loooking into it.

[2016-11-15 21:58] isaacgerg commented on #1
pip install quiver_engine is not working...

[code]

[2016-11-15 22:06] isaacgerg opened #10 "pip install doesnt work with python 3.4, windows x64"
`c:\Python34\Scripts>pip install quiver_engine
Collecting quiver_engine
  Downloading quiver_engine-0.1.4.1.1.tar.gz (398kB)
    100% |################################| 399kB 1.4MB/s
Requirement already satisfied: keras in c:\python34 (from quiver_engine)
Collecting flask (from quiver_engine)
  Downloading Flask-0.11.1-py2.py3-none-any.whl (80kB)
    100% |################################| 81kB 2.

[2016-11-15 22:24] jakebian commented on #8
https://github.com/jakebian/quiver/commit/6c7116e858172293d52cb18ebffd2733ed67bf91

Properly supported sequential models and tested on your model in your gist

![screenshot from 2016-11-15 14-22-09](https://cloud.githubusercontent.com/assets/5866348/20326798/279bc7b6-ab3f-11e6-8346-159f7eeded08.png)

WIll close this issue once you verify that it works!

[2016-11-15 22:25] jakebian commented on #10
Hmm I do not have easy access to a windows machine to test this at the moment, would love it if someone else can send a PR for this

[2016-11-15 22:26] jakebian commented on #9
Yes for now it only supports a flat file structure, but should be very simple to make it read a full path, just need to test it thoroughly, I'll figure it out!

[2016-11-15 22:49] kretes commented on #8
yes after reinstalling from pip release I get this working.

I have two other issues which I will put on a seperate tickets

[2016-11-15 22:49] #8 closed

[2016-11-15 22:53] kretes commented on #9
I guess the issue is not about a recursive traversing (which is a nice enhancement indeed) but about the fact that the only way it works is when you keep the 'input_folder' param default. otherwise it fails to generate layer visualization. in my case I have this stack trace:

[code]

and the path should be img/....jpg because I stated input_folder='./img' when starting server.

workaround for now

[2016-11-15 22:56] kretes opened #11 "quiver fails when temp_dir is not created by the user"
running quiver by default I get exception when waiting for layer visualization:

[code]

seeing that I created ./tmp  and after that it works (although it creates and leaves a lot of stuff in there).

I am not sure what is the best way to handle that kind of data but for now maybe simple mkdir -p temp_dir be enough?

[2016-11-15 23:03] kretes opened #12 "/predict fails with 500"
When I am changing the input image in the GUI a call to /predict fails:

[code]

my model is a binary classification model - maybe that's why there is the 2nd '1' in the output shape

[2016-11-15 23:09] kretes commented on #12
Ok I looked a bit deeper in the code and I can see it is currently tightly bound to imagenet classes.

I guess to make it work for a generic model one would need to provide a list of classes names to present in the GUI

[2016-11-15 23:14] isaacgerg commented on #10
Can you point me to a tutorial on how files for pip are created?  I'd be happy to debug; I've never deployed with pip before.

[2016-11-16 04:18] jakebian commented on #12
yeah the prediction decoding was more of a gimick for imagenet - the task here should be to support passing an arbitrary decoding dictionary - for now one can simply replace the decoding function in the source, but yes we definitely should support it.

[2016-11-16 10:23] varoudis opened #13 "IOError: [Errno 2] No such file or directory"
http displays everything fine. both the model and the images.
I have used both relative and absolute path from root in order to point to the test pngs but I get the same error.
Ideas?

[code]

[2016-11-16 10:47] varoudis opened #14 "number of channels only 3?"
What happens if the model is for one channel images?

Exception: Error when checking : expected input_1 to have shape (1, 128, 128, 1) but got array with shape (1, 128, 128, 3)

[2016-11-16 10:49] varoudis commented on #13
a hack to make it work is to move the .py file in the dir that holds the test images.

[2016-11-16 12:12] kretes commented on #13
Yes, I think this is a duplicate of https://github.com/jakebian/quiver/issues/9

[2016-11-16 12:15] varoudis commented on #13
right!

[2016-11-16 15:26] prithi commented on #1
I run it successfully on windows 10 using Theano.  However, I think single_input_shape should be like this for theano as the input shape of theano is different than tensorflow.

`single_input_shape = model.get_input_shape_at(0)[2:4]`

[2016-11-16 15:37] isaacgerg commented on #1
@prithi How did you get past the npm stuff?  It bombs on my machine.

[2016-11-16 15:44] prithi commented on #1
I just follow this steps @isaacgerg

1. cd quiverboard
2. npm install
3. npm run deploy:prod

[2016-11-16 15:47] isaacgerg commented on #1
Where do you get npm? Can you provide some instructions?

Upon googling, I found some package where i had to put the directory with
npm in quiverboard.

On Wed, Nov 16, 2016 at 10:44 AM, Toqi Tahamid Prithi <
notifications@github.com> wrote:

[2016-11-16 15:51] prithi commented on #1
Just download [nodejs](https://nodejs.org/en/download/) and execute the commands

[2016-11-16 16:30] isaacgerg commented on #1
@prithi Thank you, I got npm working (i think).

Did a fresh pull.

On windows, I do a set QUIVER__URL=localhost:5001 instead of export.

Still getting 404 not found when I run quiver_engine.server.launch(model, port=5001)

[2016-11-16 16:35] prithi commented on #1
Use port 3000

[2016-11-16 16:35] jakebian commented on #1
@isaacgerg are you getting a 404 on localhost:3000? Npm run launches the app at a different port (defaults to 3000, can set via another environment variable).

If you want to get it to run on your 5001 port you need to run `npm run deploy:prod`

[2016-11-16 16:37] jakebian commented on #13
Closing as duplicate

[2016-11-16 16:37] #13 closed

[2016-11-16 16:38] isaacgerg commented on #1
@jakebian localhost:3000 gives me 3 dots, 2 which spin around a center one.

Right now, I dont care what port I run at, I just want to help get it working. I've never worked with node.js before so Im a complete noob.

[2016-11-16 16:40] isaacgerg commented on #1
@prithi where do i put port 3000? the set command or in my python code or both?

[2016-11-16 16:42] isaacgerg commented on #1
@jakebian Got it sort of working.  Did the `npm run deploy:prod` and then ran my python code (same as above).

I can see my images on the right but there is no graph of my model on the left.  What can I do to try to and figure this out?

[2016-11-16 16:47] prithi commented on #1
@isaacgerg Now change this [line of code](https://github.com/jakebian/quiver/blob/master/quiver_engine/server.py#L27)

`single_input_shape = model.get_input_shape_at(0)[2:4]`

[2016-11-16 16:51] isaacgerg commented on #1
@prithi That fix didnt change anything.  My images are not RGB.

[2016-11-16 16:56] isaacgerg commented on #1
Nothing in server.py under get_* is being called. From following the code, I think its because there is not model shown on the left of the browser.  How do you parse apart the model?  Can it handle model's in models?

[2016-11-16 17:06] isaacgerg commented on #1
`model.to_json()
'{"class_name": "Model", "config": {"input_layers": [["input_1", 0, 0]], "name": "model_3", "layers": [{"inbound_nodes": [], "name": "input_1", "config": {"batch_input_shape": [null, 1, 400, 400], "input_dtype": "float32", "name": "input_1"}, "class_name": "InputLayer"}, {"inbound_nodes": [[["input_1", 0, 0]]], "name": "averagepooling2d_2", "config": {"strides": [4, 4], "border_mo

[2016-11-16 17:38] prithi commented on #1
@isaacgerg can you show the error log you get?

[2016-11-16 17:39] isaacgerg commented on #1
@prithi I don't get an error log that I can see.  Where should I look?

[2016-11-16 18:22] prithi commented on #1
@isaacgerg Can you run this code and see if the model loads in the left side?

[code]

[2016-11-16 18:30] jakebian commented on #1
Hey guys this is getting off-topic from the original issue. I made a [gitter](https://gitter.im/quiverEngine), as TF dependency is now optional can we close this issue and move the discussion there?

[2016-11-16 18:44] #1 closed

[2016-11-16 19:45] isaacgerg opened #16 "complex model's not displayed in browser"
Complex model's do not display in browser.  Example follows

My model's json. Inputs 400x400 grayscale images.

model.to_json()

`'{"class_name": "Model", "config": {"input_layers": [["input_1", 0, 0]], "name": "model_3", "layers": [{"inbound_nodes": [], "name": "input_1", "config": {"batch_input_shape": [null, 1, 400, 400], "input_dtype": "float32", "name": "input_1"}, "class_name": "InputLayer"}

[2016-11-16 19:53] isaacgerg commented on #1
@prithi Yes!  That model works and I see it on the left.  I have filed a separate issue as it seems quiver_server cannot handle complex models.

[2016-11-16 20:00] isaacgerg commented on #9
Came here to report same issue.  When you change the path from the default, it never gets os.path.join'ed with the files so nothing can be found.  I am using windows 7, python 3.4.

[2016-11-16 20:45] varoudis commented on #16
single channel images is a problem to begin with.
can you post a keras plot of you model? the test above doesn't make sense

[2016-11-16 20:50] isaacgerg commented on #16
@varoudis Can't make a plot, using windows and graphviz doesnt work on it with keras.

Is this a single channel image issue or a problem with the graph render?

[2016-11-16 22:38] isaacgerg commented on #16
This is the best I can do to approximate the model
`
             |-------vggnet-----|
Input---+                          +--merge via sum -- CNN - FC - softmax
             |-------vggnet-----|
`

[2016-11-16 22:47] jakebian commented on #16
You're right this has to do with having a model inside a model - which is a case that the client side graph generation is failing to handle. Should be a quick fix, I'll look into it.

[2016-11-16 22:48] isaacgerg commented on #16
Thanks @jakebian.  Happy to pull and test.

[2016-11-17 07:08] mc0514 opened #17 "fails with 404 not found"
When I add the quiver in my code
`server.launch(
        model, # a Keras Model

        # where to store temporary files generatedby quiver (e.g. image files of layers)
        temp_folder='tmp/',

        # a folder where input images are stored
        input_folder='dataset/',

        # the localhost port the dashboard is to be served on
        port=9000
    )`
and run it, but the browser sho

[2016-11-17 09:43] isaacgerg commented on #17
Are you installing with pip or development version?  Try port 3000.

[2016-11-17 10:00] mc0514 commented on #17
@isaacgerg I installed it with pip. I tried port 3000 and not worked. Had you solved this problem?

[2016-11-17 10:57] varoudis commented on #17
installing the current git from pip git+https gives me a 404. Installing via the typical pip version works.

[2016-11-17 12:42] zulmaster commented on #14
Please add support

[2016-11-17 13:03] varoudis commented on #14
hmm I hacked the util.py and I forced greyscale=True on image.load but I still get the "Exception: Error when checking : expected input_1 to have shape (1, 128, 128, 1) but got array with shape (1, 128, 128, 3)"

[2016-11-17 14:17] isaacgerg commented on #17
Try this: `npm run deploy:prod`

[2016-11-17 18:18] jakebian commented on #17
I'll start [including the dist folder in git](https://github.com/jakebian/quiver/projects/1#card-833444) so that people no longer need to run deploy (convenience at the cost of messier commit messages).

This is a duplicate of https://github.com/jakebian/quiver/issues/2, if you're still having trouble we should have this discussion on [gitter](https://gitter.im/quiverEngine/Lobby)

[2016-11-17 18:18] #17 closed

[2016-11-17 18:26] jakebian commented on #14
Looks like you disagree with keras on the [spelling of 'gray'](https://github.com/fchollet/keras/blob/80fbbc3a6a2a30f391bad2aa85e7558c50ca0709/keras/preprocessing/image.py#L163). `grayscale` with an `a`.

[2016-11-17 19:07] isaacgerg opened #18 "quiver requires model to have one-hot output of 1000 classes"
imagenet_utils.py contains decode_predictions() which is hardcoded for 1000 classes and one-hot output.  Should support arbitrary model output.  Recommend test on mnist dataset for verification.

[2016-11-17 19:10] jakebian commented on #18
Duplicate of https://github.com/jakebian/quiver/issues/12 0 - see the comment there and [this task](https://github.com/jakebian/quiver/projects/1#card-818905), the decoding is only meant to work for imagenet atm.

Right now iff the model fails to be that the prediction endpoint will fail, but the other parts of the dashboard should function correctly.

[2016-11-17 19:10] #18 closed

[2016-11-17 19:17] bubzebub commented on #10
I get a similar error with RHEL 6 and Python 2.7.

[2016-11-17 19:40] ZFTurbo commented on #10
The same issue for me at windows10 + python3.4

[2016-11-17 20:44] isaacgerg opened #19 "Proper path use in get_output_name()"
quiver_engine/server.py get_output_name() should use os.sep instead of '/'.

Original convention breaks PIL im.save(). E.g. im.save(r'e:\tmp/filename.png') will result in OSError, Invalid Argument.

Furthermore, ensure all paths should use os.path.join or os.sep instead of '/'.

[2016-11-17 21:11] jakebian commented on #19
Isn't this a duplicated of https://github.com/jakebian/quiver/issues/9?

[2016-11-17 21:13] isaacgerg commented on #19
no.  Take a look at quiver_engine/server.py get_output_name(), you have a hardcoded '\'.

The issue with #9 is that input_path isn't propagated in the system.

[2016-11-17 21:48] isaacgerg opened #20 "get_layer_outputs() assumes tf ordering"
get_layer_outputs() assumes tf ordering when deciding how many tiles are in an output.  in 84... "for z in range(0, layer_outputs.shape[2]) "

layer_outputs.shape[2] only valid for tf, for theano, use layer_outputs.shape[0]

Also, `img = layer_outputs[:,:,z]` is tf dependent.  Should be `img = layer_outputs[z,:,:]` for theano.

[2016-11-17 22:28] varoudis commented on #14
Hehe no my spelling here is wrong, it wasnt copy/paste from the code.

Do yu have any plans to make it work with one channel images?

[2016-11-17 22:32] jakebian commented on #14
Yes definitely something I'm planning to support, but need to spend some time to figure it out. If you figure it out in the meantime feel free to send a PR!

[2016-11-18 01:05] srinivasjdi opened #21 "Error : No data for this layer."
Hi, I'm just trying to follow your demo with pre-trained VGG-19 model . But I keep getting this error after selecting the layer : No data for this layer

On the terminal, i get the following message :
Exception: Error when checking : expected zeropadding2d_input_1 to have shape (None, 3, 224, 224) but got array with shape (1, 3, 3, 224)

Is this a problem due to my images ?

my code :
model = VGG_

[2016-11-18 04:46] sushanttripathy opened #22 "pip install fails on Ubuntu"
Pip install on Ubuntu 16.04 with Python 2.7 fails the following error
[code]

[2016-11-18 08:32] LGestin commented on #4
I made some modifications that fixed this for me.
In the file server.py, change the line 20: 'imagenet_utils import decode_prediction' with 'from quiver_engine.imagenet_utils import decode_prediction'
Same trick has to be applied to the two following lines (lines 21 & 22) and in line 4 of util.py file.
After that, no more ImportError.

[2016-11-18 14:27] isaacgerg opened #23 "Denote if layer compiled in the GUI"
It would be nice if there was an icon indicating that the layer in the visualization has been compiled or not.  Furthermore, if the quiver isnt doing anything, it should be compiling layers in the background.

Not sure if this is an issue for tf, but in theano, it takes quite a bit of time to compile to sublayers.

[2016-11-18 15:30] guozhizou opened #24 "installation error"
Followed the Development guide, got this issue. I tried to change react and react-dom in package.json to 0.14.8, but got other conflicts.

[code]

[2016-11-18 17:05] dan-1d commented on #20
I submitted a pull request that should fix this.

[2016-11-18 17:06] dan-1d commented on #14
I just submitted a pull request that should fix this.

[2016-11-18 18:18] jakebian commented on #24
These are warnings, not errors, should not actually affect the success of the installation.

[2016-11-18 18:18] #24 closed

[2016-11-18 21:24] planaria158 opened #26 "image files don't show up in right-hand panel"
Started quiver and it appears to launch normally. My model is visible in the left pane. However, no files visible on the right pane (path is correctly set and there are legit image files present).

Any thoughts?

I'm using Chrome on a Mac; keras 1.1.1; installed quiver via pip.

Perhaps its a browser issue?

[2016-11-18 21:55] dan-1d commented on #9
I have this same problem. The images load, but forward prop fails. Images must be in the 'cwd' for this to function, as of now.

[2016-11-18 22:32] kretes opened #28 "Support output for Global Pooling layers"
Global Average and Max Pooling are used as an alternative to FC layers.
they are very handy for vizualization. what quiver can do is show the convolution layers output that are input to GAP but GAP calculates average activation for a single channel of previous convolution.

it would be good to show this number alongside the visualized output of convolution layer if the next layer is GAP or GMP.

[2016-11-19 00:18] isaacgerg commented on #26
The paths are not working correctly.  This is a duplicate of another issue.

[2016-11-19 04:08] jakebian commented on #14
merged https://github.com/jakebian/quiver/pull/25, @varoudis can you verify that this is solved?

[2016-11-19 04:22] planaria158 commented on #26
Thanks Isaac.  I looked at the duplicate issue you refer to as well as issue #9.  I looked at server.py and it seems to me that it should work on a linux or OSx system.  I see how the hardwired path separators would cause trouble on Windows.

The demo video on YouTube is clearly running on a linux or Mac.

So, I'm still unclear why I can't see any of the image files in the current directory when I

[2016-11-19 04:43] jakebian commented on #20
https://github.com/jakebian/quiver/pull/25 merged, @isaacgerg close this once you verify that the fix works for you

[2016-11-19 04:43] jakebian commented on #4
https://github.com/jakebian/quiver/pull/5 merged!

[2016-11-19 04:43] #4 closed

[2016-11-19 05:05] jakebian commented on #9
Fixed https://github.com/jakebian/quiver/commit/798f98fc8292c2b61d9c20394434875462a5c370

[2016-11-19 05:06] jakebian commented on #26
Should be fixed by https://github.com/jakebian/quiver/commit/798f98fc8292c2b61d9c20394434875462a5c370, @planaria158 verify when you get a chance

[2016-11-19 08:46] kretes commented on #28
And furthermore there is yet another architecture where GAP is followed by a dense layer before given to softmax layer: http://cnnlocalization.csail.mit.edu/

supporting this as well would be really cool.

Actually those are the types of architectures that allow a built-in localization of classified item

[2016-11-19 08:53] kretes commented on #9
For me it works now - shows output of a layer.

I fixed the same for predictions in https://github.com/jakebian/quiver/pull/27

[2016-11-19 08:55] #9 closed

[2016-11-19 08:59] ramakrishna-git commented on #22
same error on ubuntu 14.04 and python 2.7

writing manifest file 'quiver_engine.egg-info/SOURCES.txt'
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-tSKij6-build/setup.py", line 21, in <module>
        'pillow'
      File "/usr/lib/python2.7/distutils/core.py", line 151, in setup
        dist.run_commands()
      File "/usr/lib/python2.7/dist

[2016-11-19 12:49] natlachaman commented on #21
I've got a similar issue:

My model:
`
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution2D, MaxPooling2D
import tensorflow as tf
tf.python.control_flow_ops = tf

 n_input = (30, 30, 3)

model = Sequential()
model.add(Convolution2D(64, 2, 2, border_mode='valid', activation='relu', input_shape=n_input))
model.add(Con

[2016-11-19 19:22] octycs commented on #10
Had the same problem with python 3.5 on Fedora 21.
It worked for me when I replaced `'quiverboard/dist/*'` with `['quiverboard/dist/*']` in *setup.py*, compiled the client and then installed with `python setup.py install`.

[2016-11-21 02:13] guozhizou opened #29 "No data for this layer"
Quiver start normally, model and images are all visiable, but when I clicked the Input Layer (or other layers), got an error:

Any ideas?
[code]

[2016-11-21 04:24] jakebian commented on #29
Did you install with pip or clone the git repo?

[2016-11-21 06:00] guozhizou commented on #29
I cloned the repo and builded from master yesterday.

[2016-11-21 10:08] varoudis commented on #14
@jakebian it seems to be doing something. loading seems ok.

Do we need something equivalent for one channel in 'preprocess_input'?

[2016-11-21 10:11] varoudis commented on #14
error when changing test images. you do get an result though.

[code]

[2016-11-21 14:48] jakebian commented on #14
Ah prediction endpoint is expected to fail for non-imagenet things for now, there's a pr to fix that I'll merge today

[2016-11-21 14:48] #14 closed

[2016-11-21 16:06] isaacgerg commented on #16
Do you need any help with this? @jakebian

[2016-11-21 16:52] jakebian commented on #16
Hey sorry didnt get to this yet - I'll get to it today hopefully

[2016-11-21 20:50] dan-1d commented on #28
I agree that this would be a fabulous addition.

[2016-11-21 21:56] planaria158 commented on #26
Thanks Jake!  Image files are now visible and can be selected.

One small problem persists:

I'm trying a 'standard' example to make sure it works end-to-end for me.

from quiver_engine import server
from keras.applications import VGG16
model = VGG16()
server.launch(model, port=7000)

When I select an image (that is 224x224) RGB png file, I get the following error:

_Exception: Error when checking

[2016-11-21 22:23] jakebian commented on #26
@planaria158 sounds like your image isn't being preprocessed correctly. Does it work with other images? This is a separate issue so you should open a new issue posting your image and your model, so that we can help you troubleshoot

[2016-11-21 22:24] #26 closed

[2016-11-22 18:54] isaacgerg commented on #20
@jakebian  Should I pull and  build through github or use pip?

[2016-11-22 18:55] jakebian commented on #20
either should work!

[2016-11-22 19:32] planaria158 commented on #26
Found the problem.  The ordering in keras.json matters.  If I change it from "th" to "tf", then the VGG16 model works fine with Quiver.

[2016-11-23 01:51] guozhizou commented on #29
Fixed after reinstalled.

[2016-11-23 01:51] #29 closed

[2016-11-23 02:04] guozhizou opened #30 "IndexError: tuple index out of range"
When I check each Layer to see what happens, got this error:

[code]

[2016-11-23 13:35] isaacgerg opened #31 "pip install doesnt work with windows 7, python 3.5"
Transcript....
[code]

[2016-11-23 14:12] isaacgerg commented on #20
Pull 30 minutes ago.  This is not quite working yet.

The images at the layer look like they are rendering correctly, however, the classes are incorrect. Previously this tile was 99%+ school bus.  Now its nematode.

![image](https://cloud.githubusercontent.com/assets/11971499/20564807/da365cf6-b15c-11e6-9b3a-392253199d74.png)

[2016-11-23 14:13] isaacgerg commented on #19
This appears to be fixed.  Closing.

[2016-11-23 14:13] #19 closed

[2016-11-23 18:32] jakebian commented on #20
@isaacgerg that's a separate issue - unless you pass in a list of classes (see https://github.com/jakebian/quiver/pull/27), the imageNet classes will be used by default (a behavior we're going to deprecate soon), which looks like it's wrong in this case. The solution is to pass in a correct list of classes, or otherwise ignore this prediction feature.

[2016-11-23 18:32] #20 closed

[2016-11-23 18:33] jakebian commented on #12
This is fixed by your PR @kretes!

[2016-11-23 18:33] #12 closed

[2016-11-23 21:51] isaacgerg commented on #20
@jakebian I was loading the inception network with imagenet.

[2016-11-24 11:00] antumin opened #32 "Error when installing on Windows 10 with Anaconda3"
I get the following error message when running `pip install quiver_engine` on Windows 10 with Anaconda 3:

[code]

[2016-11-26 00:02] harveyslash opened #33 "Get model prediction"
First of all , good job with this AMAZING project. It really helps  a beginner like me understand whats going on.

I would like to suggest getting the loaded model's prediction and displaying it somewhere on the browser. It could be useful to some.

[2016-11-26 00:48] #33 closed

[2016-11-29 13:45] rajshah4 commented on #26
I also had problems with my images not showing.  I figured out it was due to my image files having the extension .jpeg.  I renamed them to .jpg and everything worked fine.  It might be good to note somewhere that image files are assume to have a .png or .jpg extension.  Thanks

[2016-11-29 19:20] rajshah4 commented on #21
I was getting a No data for this layer error.  I noticed from the terminal log, the issue was due to the lack of a tmp directory.  I made a tmp directory and then was able to load data for the layers.

[2016-11-30 20:49] isaacgerg commented on #26
@planaria158 @rajshah4

This issue is closed.  Please open another issue otherwise the author won't see the problem. Be sure you are using the latest quiver_engine.

[2016-12-05 16:01] zacharyfmarion opened #34 "Update pip distribution"
The README currently says you can use custom classes (from the latest PR), but it doesn't look like pypi has been updated with this code.

[2016-12-12 00:14] harveyslash opened #35 "Add option to suppress browser from opening"
Since many ML tasks are done on a remote server (and possible, the cloud), an option to prevent browser from opening should be added in the launch function.
Also , what about an upload option to test new images ?

[2016-12-12 00:25] jakebian commented on #35
- Option to not open a browser is a good call - let me know if you want to send a PR for it as I'm a little caught up this week.
- Not sure what you mean by option to upload an image - if you're running it on a remote server uploading a file to a folder and refreshing the browser would already work. I think a gui for uploading images is pretty pointless at this point, as it will be just a simple u

[2016-12-12 00:29] harveyslash commented on #35
I use this not only to visualise my convnets, but also as a quick way to test my outputs ( as it seems to resize input images automatically). So an upload option(maybe even a download from url) would allow me to check my model from a local computer.

Also , I am not 100% sure at the moment , but the prediction classes seem to be wrong. If I am sure, i will open another issue

[2016-12-12 00:35] harveyslash opened #36 "Output predictions are incorrect"
I use quiver like this:

classList =['one','two','three']
server.launch(mmodel,classes=classList)

when testing images from the dashboard, the classes outputs are wrong. Most of the time it displays the same class predictions for images from different classes

[2016-12-12 00:42] jakebian commented on #36
ping @kretes do you have time to take a look at this issue with code you introduced?

[2016-12-12 00:45] jakebian commented on #35
I see - is something like scp-ing your image file to your remote machine somehow difficult with your setup?

[2016-12-12 02:29] harveyslash commented on #35
its not exactly difficult. But when I show other people the convnet , its hard for them to actually do anything with their own images. So theyre stuck with viewing the files that are already there in the directory.

[2016-12-12 02:47] jakebian commented on #35
Ah I see the use case now - yes I agree this would be nice, I made [this task](https://github.com/jakebian/quiver/projects/1#card-820643) a couple of weeks ago and had something like this in mind as well. Let's use this ticket to track your auto-open-browser request, and open a separate issue to track the image upload request.

[2016-12-12 19:07] kretes commented on #36
@harveyslash could you describe the issue in detail?

e.g.
attach a screenshot of quiver showing prediction for some image + attach a code and an output showing what is the proper prediction for given image from your model

[2016-12-16 18:10] raghakot opened #37 "What is this vizualizing?"
Is it a saliency map? In either case, details about how the visualization is generated should be included in the docs.

[2016-12-17 11:41] ramakrishna-git commented on #22
any workaround for this issue?

[2016-12-17 18:02] sushanttripathy commented on #22
I updated to latest keras. That seemed to fix the issue. Hope this helps.

On Sat, Dec 17, 2016 at 3:42 AM, ramakrishna-git <notifications@github.com>
wrote:

[2016-12-22 08:00] ramakrishna-git commented on #22
I updated to Keras 1.2.0 but still get the same error.

Here is the what i get when I try to install quiver_engine on Ubuntu 14.04.5 LTS (docker linux)

pip install quiver_engine
Collecting quiver_engine
  Downloading quiver_engine-0.1.4.1.4.tar.gz (398kB)
    100% |################################| 399kB 655kB/s
Requirement already satisfied (use --upgrade to upgrade): keras in /usr/local/lib/pyt

[2016-12-23 14:31] ramakrishna-git commented on #22
Update:
It worked after following steps mentioned in similar issue thread for windows.
Steps:
1. clone the git repository locally.
2. Replace 'quiverboard/dist/*' with ['quiverboard/dist/*'] in setup.py
3. Installed with
      python setup.py install

The above problem got resolved.
I faced another issue after the above steps, server was throwing 500 Internal server error while requesting /inputs

[2016-12-23 17:10] jakebian commented on #22
Glad you were able to resolve you issue!

[2016-12-23 17:10] #22 closed

[2016-12-29 20:53] shriphani opened #38 "No support for Convolution1D"
The indexing appears to assume that the input tensor is a 2D image. Would be nice if you could remove this dependency (or at least support 1D, 2D, 3D).

[2017-01-09 22:51] humzaiqbal opened #40 "Timeout for visualizer with custom dataset"
So I'm running the visualizer on a dataset of `(None, 8, 200, 1)` images with 50 datasets. I want to display the predictions for each image but when I pass in the classes `range(1, 51) as follows
`server.launch(model, range(1, 51), top=4, port=5001)`, and I try to look at the output for a particular image and layer, it does not display anything

[2017-01-10 01:35] jakebian commented on #40
are there error logs in the terminal?

[2017-01-10 05:09] humzaiqbal commented on #40
No, at the bottom below the list of images in my directory there is just this loading icon
<img width="605" alt="screen shot 2017-01-09 at 9 08 12 pm" src="https://cloud.githubusercontent.com/assets/10646338/21794522/d7bc3090-d6af-11e6-8180-2433f9c10bb0.png">

[2017-01-11 20:54] humzaiqbal opened #41 "what happens when hovering?"
So I noticed that when I just take an image and look at the outputs, it looks something like this
<img width="588" alt="screen shot 2017-01-11 at 12 51 14 pm" src="https://cloud.githubusercontent.com/assets/10646338/21865903/db781444-d7fc-11e6-9a12-7d1b77031b9f.png">
But then when I hover over one of the outputs it then looks like
<img width="630" alt="screen shot 2017-01-11 at 12 51 57 pm" src="h

[2017-01-11 23:37] jakebian commented on #41
It just fades out to 50% opacity, revealing the input image underneath. This is useful for instance when a layer's activations looks like a distinct blob of white somewhere, hovering over the input would tell you a little about what part of the input image it corresponds to.

[2017-01-11 23:40] jakebian commented on #40
You're saying your terminal window is not logging any  errors at all when this happens?

[2017-01-12 01:20] humzaiqbal commented on #40
nope, the terminal is just displaying a GET request for a particular output

[2017-01-12 08:52] jakebian commented on #40
Is there any errors in the javascript console in the browser?

[2017-01-13 18:31] humzaiqbal commented on #40
Yeah there is. It says `Uncaught (in promise) TypeError: e[1].split is not a function`

[2017-01-24 21:40] chaosmail commented on #10
Same for me on Ubuntu 16.04 using Python 3.5.2.
Following @octycs advide and running `pip3 install -e .` did the trick.

[2017-01-26 11:43] kkarnatak opened #42 "Unable to see any ouput"
I am trying to run a simple example using trained network vgg16

[code]
After this I can see the webpage, but when I click on image and then the layer, it displays "no data for this layer". And this is displayed for all the layers.

What might I be missing here?

[2017-01-26 17:49] jakebian commented on #42
That error says apparently you are attempting to evaluate this on 1 image of size 224 x 3 px. Could be a preprocessing error though - can you give some more details on your input images? How many images are in the folder, what's the file extension?

[2017-01-27 09:39] kkarnatak commented on #42
Thanks for replying. At the moment I am using just one image with extension jpg. Its dimensions are 224x224 and 24bit.

[2017-01-30 05:29] bafu opened #43 "Input shape and channels should be set based on image_dim_ordering"
In [Keras backends document](https://keras.io/backend/), `image_dim_ordering` controls how to interpret the information of image shape and input channel.

In current source code, `keras.backend.backend()` is used as the condition instead of `keras.backend.image_dim_ordering()`. TensorFlow backend is possible to use `th` as its dimension ordering convention, and vice versa.

[2017-01-30 16:16] jakebian commented on #43
Merged your PR, good catch!

[2017-01-30 16:16] #43 closed

[2017-02-03 17:24] vfdev-5 commented on #1
Hi guys,
I do not catch, anyway, how TF dependency is now optional whenever under Windows `pip install quiver_engine` requires it and [setup.py](https://github.com/jakebian/quiver/blob/master/setup.py) specifies it in `install_requires` ?
Can somebody tell me, how to install `quiver` without TF (and with Theano) on Windows ?
Thanks,
Cheers

[2017-02-11 18:32] jakebian commented on #36
I was getting this too on a VGG model, [the default function loading images](https://github.com/keplr-io/quiver/blob/master/quiver_engine/util.py#L32) (@kretes you added this) in that case gives something  that doesn't make much sense.  Restored the old default loading function for now.

More generally we should allow passing this preprocessing function as an argument because for example, @kretes

[2017-02-11 18:32] #36 closed

[2017-02-20 12:51] JGuillaumin opened #46 "Installation error for development version"
Hi,

I would like to modify some parts of quiver :
 - pass (as argument in `quiver_engine.server.launch()`) a numpy array that corresponds to severals samples, with shape `[nb_samples, img_w, img_h, nb_channels)`. Instead of using a directory with images (.png or .jpg)
- pass a vector (1D array) that corresponds to the labels for images passed before. The goal is to identify misclassified images,

[2017-02-23 01:26] jakebian commented on #46
Hey, some ideas:

- do you have the correct write permission to the folder where you cloned quiver into
- what's the node and npm versions installed on your machine?

[2017-02-23 10:22] JGuillaumin commented on #46
`nodejs --version` : v0.10.25
`npm --version` : v0.10.25

I create my own `launch` and `get_app` (in `server.py`) that handle `input_array` instead of  `input_folder` argument.
To display images (above feature maps), I save images from `input_array` in `temp_folder`, and it works ! I would like to add options for handling Theano and Tensorflow ordering (now, only TensorFlow) before committing on m

[2017-03-09 06:00] alberthkcheng commented on #32
same here.

[2017-04-09 02:03] GH1995 commented on #32
me too, just like it
[code]

[2017-04-19 13:42] ftiguidou opened #48 "Problem with outputs visualization"
Hi !

First, thank you for quiver, this is just an awesome tool ! I just have a few question concerning the visualization. I'm working with different picture resolutions and, for my work, I have been in need for using only 2 channels in my images. Because of quiver is not for that kind of use, I had in mind to set the 3rd channel to a constant (0 or 127 I guess), for the training and for the visua

[2017-04-24 14:23] stared opened #49 "wrong website link in repo desc"
It is https://keplr-io.github.io/quiver/, not https://jakebian.github.io/quiver.

[2017-04-26 18:13] jakebian commented on #49
Thanks, fixed.

[2017-04-26 18:13] #49 closed

[2017-05-21 01:00] dustinandrews commented on #32
Do this:
C:\> pip install quiver_engine --no-clean
[sets up pre-reqs and fails]
Find the setup.py listed in the error like
edit C:\Users\[**user**]\AppData\Local\Temp\pip-[**path**]\quiver_engine\setup.py
set the requirements to and empty list []
**Close the file in the editor. Python will consider it locked and delete the temp dir. you will have to start over**
C:\> pip install -e C:\Users\[**use

[2017-06-02 13:06] ftiguidou commented on #48
I allow myself to ask again for any idea someone could have related to this problem, I still have not any clue about why the feature map shows up this way...

[2017-06-09 09:31] arnaudmiribel commented on #21
@rajshah4 solved for me too! Deserves a PR I guess

[2017-06-16 01:55] rcox771 opened #50 "convents vs. conv nets"
small typo in [setup.py](https://github.com/keplr-io/quiver/blob/master/setup.py)

description=("Interactive per-layer visualization for [convents](https://user-images.githubusercontent.com/13604961/27208599-962927d8-5214-11e7-9425-89e25c4cb618.png) in keras"),

![image](https://user-images.githubusercontent.com/13604961/27208599-962927d8-5214-11e7-9425-89e25c4cb618.png)

[2017-06-16 17:15] jakebian commented on #50
Nice. Wanna send a PR?

[2017-06-27 16:00] desertnaut commented on #21
Switching to Tensorflow & adding a tmp folder solved the issue for me, too.

[2017-07-08 22:02] kretes commented on #48
From what I know about the internals of quiver - the activations at each layer are normalized to fill the whole space of color intensity, since they are first normalized to [0,1] and then saved to image using https://docs.scipy.org/doc/scipy-0.18.1/reference/generated/scipy.misc.imsave.html which is expanding values to fill the space of [0,255]

[2017-07-12 06:08] saugat commented on #32
Same problem here.
I'm also using Windows 10 with anaconda 3.

[2017-07-17 07:07] yuayi521 opened #54 "Unable to load image"
@jakebian
I can load model, but I can't load image. On the browser, the left is model structure, the right is Select an input image, but it didn't display any image, so I can't choose an image.

my code is
`launch(multitask_model, input_folder='./img', port=5000)`

[2017-07-20 16:33] dhmodi commented on #32
+1

[2017-07-22 11:22] Tahsin-Mayeesha commented on #32
Any fix for it so far?

[2017-07-22 20:14] matej-hron commented on #32
+1

[2017-07-24 15:16] alberthkcheng commented on #32
+1

[2017-08-07 12:26] maxritter commented on #32
Replace 'quiverboard/dist/*' with ['quiverboard/dist/*'] in setup.py, then install with "python setup.py install".

[2017-09-12 12:53] z362194037 commented on #54
maybe you should put some pictures in xxx/quiver-master/img

[2017-11-19 02:38] taichu012 commented on #32
me too

[2017-11-19 10:23] taichu012 commented on #10
agree with upstair, detail desrcription:
1. search keyword "quiver“ at pypi webside (https://pypi.python.org/pypi);
2. download one of quiver package name "quiver_engine 0.1.4.1.4";
3. unzip it on local disk and "cd ..\..\quiver_engine 0.1.4.1.4\”;
4. just run "pip install -e .", it will auto call setup.py, then quiver_engine installed without any problem;
5. run python under dos "cmd";
6. just fo

[2017-11-19 10:23] taichu012 commented on #32
agree with upstair, detail desrcription:
1. search keyword "quiver“ at pypi webside (https://pypi.python.org/pypi);
2. download one of quiver package name "quiver_engine 0.1.4.1.4";
3. unzip it on local disk and "cd ..\..\quiver_engine 0.1.4.1.4\”;
4. just run "pip install -e .", it will auto call setup.py, then quiver_engine installed without any problem;
5. run python under dos "cmd";
6. just fo

[2017-11-20 05:36] taichu012 commented on #54
you need FIRST copy picture need analysed into the place which parameters "INOUT_FOLDER" indicated, then run server.launch and you will find your picture IS THERE! can't load dynamic on web page, this is my experience, maybe wrong, but at least it work, I see the different feature map of direrent layer in model. hope it helpful

[2017-11-20 05:39] taichu012 opened #58 "classes parameter is not valid while I run 'server.launch(...)""
classes parameter is not valid while I run 'server.launch(...)",
I use help(quiver_engine.server.launch) in python command enviroments, it shows parameters definitions and there are NO 'classes' and 'top' paramaters. It is not same as the examples mentioned in README.MD, is the doc a little bit older?

[2017-11-20 05:44] taichu012 commented on #11
you have to first mkdir the dir manually in this moment.

[2017-11-20 05:47] taichu012 commented on #58
quiver_engine 0.1.4.1.4 has this problem, but after I check function "server.launch(...)" in source codes at master branch, there is a classes paramter same as README.MD, so I just close this issue and wait 0.1.5.

[2017-11-20 05:47] #58 closed

[2017-11-23 07:50] MikhailovSergei commented on #42
Hello, do solve this problem?

[2017-11-26 01:33] taichu012 opened #59 "install quiver cause install tensorflow(not gpu) cascade"
If I use 'pip install quiver_engine' diretly, it show check precodition and install tensorflow-1.4.0(not gpu version) again while I had already installed a good tensorflow-gpu-1.4.0. And keras will use default of TF and not use TF-GPU, so I have to uninstall tensorflow-1.4.0 first, then I find tensorflow-gpu-1.4.0 is BAD. I have to install it again(after quiver_engine).
So I submit this issue to i

[2017-11-30 10:18] MacwinWin opened #60 "InceptionResNetV2 and InceptionV3 get error But VGG16 is good"
**It seems that can not reshape the custom image. But in VGG16 has not error.**
`[2017-11-30 18:08:12,769] ERROR in app: Exception on /layer/batch_normalization_90/individualImage (2).png [GET]
Traceback (most recent call last):
  File "/home/microfat/.local/lib/python3.6/site-packages/flask/app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/microfat/.local/l

[2017-12-04 01:22] taichu012 commented on #60
I append a link (http://blog.csdn.net/macwinwin/article/details/78680287), which maybe talk about the same thing and same issues.  author of link suggest to adapt LOACL keras codes of applications.py and please see detail in links (ignore chinese descriptions, just look codes below).
This is all not tested by me, just give a suggestion and hopes it will work.

[2017-12-07 12:40] vladimircape opened #61 "quiver tried to install other version of tensorflow"
I have tensorflow-gpu and keras,
but when i tried to install your application, your application start to install
[code]

i have
[code]

[2017-12-10 10:07] qinst64 opened #62 "[bug] inconsistent preprocess_input"
in the quiver code `quiver_engine/imagenet_uitls.py`:
[code]
in keras `keras/applications/imagenet_utils.py`:
[code]
`minus+transpose` and `transpose+minus`  are apparently different, which leading prediction different results beween quiver vs. keras.  However, I am not sure which of them is right.

[2017-12-10 16:42] jakebian commented on #62
Yeah looks like Keras is right, good catch, fixing.

[2017-12-11 11:49] qinst64 commented on #62
@jakebian Vgg16 is going great but when I use `keras.applications.inception_v3` as the quiver input, the prediction is quite bad.

Then I compared [inception_v3.py](https://github.com/fchollet/keras/blob/master/keras/applications/inception_v3.py) and [vgg16.py](https://github.com/fchollet/keras/blob/master/keras/applications/) and find actually their `preprocess_input` are different. On the other

[2017-12-17 12:32] taichu012 commented on #61
same  as #59 which is I met.

[2017-12-18 05:11] muradalqurishee opened #63 "Quiver_Engine installation in windows 10"
Need help for the following issue:

Collecting quiver_engine
Exception:
Traceback (most recent call last):
  File "C:\anaconda3\lib\site-packages\pip\basecommand.py", line 215, in main
    status = self.run(options, args)
  File "C:\anaconda3\lib\site-packages\pip\commands\install.py", line 335, in run
    wb.build(autobuilding=True)
  File "C:\anaconda3\lib\site-packages\pip\wheel.py", line 749,

[2018-01-31 16:25] TomGao2001 commented on #32
@taichu012 Your method fixes the issue. Don't go in and modify SOURCES.txt, yours is way more convenient.

[2018-04-11 08:35] lesley9309 opened #65 "wrong number of feature maps?"
Hello,

Recently, I used the Quiver to visualized my simple ConvNet. However, I got weird output images.
For example, my network has 64 filters in the first conv layer. In my opinion, it should show 64 feature maps using the Quiver when I choose that layer, no? But I got 28 images when I train the mnist dataset, which is the height of the image. I check the size and I got (28,28,64).
At the same t

[2018-04-13 05:12] nchos88 commented on #32
I  have same problem. ( anaconda3 windows10 64bit python3.5)

Collecting quiver_engine
  Downloading quiver_engine-0.1.4.1.4.tar.gz (398kB)
    100% |################################| 399kB 1.3MB/s
Requirement already satisfied: keras in c:\anaconda3\envs\tf\lib\site-packages (from quiver_engine)
Collecting tensorflow (from quiver_engine)
  Downloading tensorflow-1.7.0-cp35-cp35m-win_amd64.whl (33

[2018-04-15 20:10] maxritter commented on #32
Thanks for providing those information. I will provide an official fix soon.

[2018-05-04 11:55] Gloupys opened #66 "TypeError: can't pickle _thread.RLock objects"
Hello, everything's in the title.

I am currently working with the MaskRCNN network described here: https://github.com/matterport/Mask_RCNN and I can't get past the server.launch. Apparently it can't get a pickle file from what I can tell...

Any way to get rid of that error? The server launches but the exception comes after that.

Thanks.

[2018-05-09 12:02] zx-code123 commented on #66
@Gloupys I met the same problem,did you solve it?

[2018-05-15 07:54] Gloupys commented on #66
Nope, still the same issue. I have no clue what I could do, read on Stack Overflow that upgrading some modules might work, but even by doing that it didn't change anything...

[2018-05-15 17:01] jakebian commented on #66
Pretty sure this is a keras issue:
https://github.com/keras-team/keras/issues/8343

In particular my suspicion is it happens when quiver uses the keras serialization method (to_json). It just means somehow you managed to sneak some non-picklable python objects into your model;

One thing you can try is building keras from source locally, and modify the source to swap out the pickle module with [di

[2018-05-15 20:15] #50 closed

[2018-05-15 20:16] jakebian commented on #46
Closing, no one's reported the same installation error in over a year :)

[2018-05-15 20:16] #46 closed

[2018-05-15 20:16] jakebian commented on #61
Duplicate of https://github.com/keplr-io/quiver/issues/59

[2018-05-15 20:16] #61 closed

[2018-05-15 20:19] jakebian commented on #65
May help if you link to your model code, have seen similar issues with input preprocessing but not with middle layers.

[2018-05-15 20:27] jakebian commented on #63
I'm collapsing all windows 10 anaconda installations into 1 issue, see http://github.com/keplr-io/quiver/issues/32

[2018-05-15 20:27] #63 closed

[2018-05-17 19:40] #31 closed

[2018-05-23 19:29] tosdanielle commented on #66
https://stackoverflow.com/questions/44855603/typeerror-cant-pickle-thread-lock-objects-in-seq2seq have you tried this stackoverflow approach?

[2018-05-28 01:38] sodaGH commented on #48
@ftiguidou  Sorry to bother you. I want to do the visualization on my own model, but now I have problem running the demo. I first create an environment of python 3.5 by anaconda, and then get into the directory and installed the quiver by `    pip install quiver_engine` . After that, I open the python and imported keras, when I run `from quiver_engine import server`, an error exist, it tells that:

[2018-05-28 01:39] sodaGH commented on #65
@lesley9309 @jakebian  Sorry to bother you. I want to do the visualization on my own model, but now I have problem running the demo. I first create an environment of python 3.5 by anaconda, and then get into the directory and installed the quiver by pip install quiver_engine . After that, I open the python and imported keras, when I run from quiver_engine import server, an error exist, it tells th

[2018-05-29 12:33] sodaGH opened #68 "The visualization of 3D image"
Thanks for your great work! I want to do the visualization work on my 3D data, and the code cannot work. Is the visualization for 3D data available now? Or can you tell me how to modify the code for the 3D visualization?
Thank you again! Looking forward to your reply :)

[2018-05-29 20:31] jakebian commented on #68
Yeah that would be a cool feature - it does take some work depends on what you want:

- You can of course project 3D layer outputs to some 2D image, this amounts to modifying [this line](https://github.com/keplr-io/quiver/blob/master/quiver_engine/vis_utils.py#L18) by pre-composing some 3D output with some projection matrix. This might not be as bad as it sounds if you choose some angle and do a p

[2018-05-30 11:58] lesley9309 commented on #65
Hi, I installed the Quiver in the same way. And it works for me.
I think you should install the gevent library which is not included inside
the Quiver.

FYI

# Copyright (c) 2009-2012 Denis Bilenko. See LICENSE for details.
"""
gevent is a coroutine-based Python networking library that uses greenlet
to provide a high-level synchronous API on top of libev event loop.

See http://www.gevent.org/ for

[2018-05-30 12:08] lesley9309 commented on #65
@jakebian I set the data_format='channels_last' for all layers, then it works for me now. The input layer has 3 features with 224x224 resolution

[2018-05-30 15:54] #65 closed

[2018-06-06 13:49] Wanke15 commented on #30
same problem +1

[2018-06-07 08:49] philippHRO commented on #48
@sodaGH in server.py manually change

to

[2018-06-12 10:02] lakshmipriya04 opened #70 "list index out of range"
from quiver_engine import server

server.launch(model_all)

Starting webserver from: /usr/local/lib/python2.7/dist-packages/quiver_engine

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-19-e07979dc262e> in <module>()
      1 from quiver_engine import server
----> 2 server.launch(

[2018-06-15 14:17] cherrylawrence opened #71 "when I import server, there comes the error, no module named 'gevent.wsgi'"
from quiver_engine import server

ImportError                               Traceback (most recent call last)
<ipython-input-11-f7d8f00ca058> in <module>()
----> 1 from quiver_engine import server

~\Anaconda3\envs\tensorflow\lib\site-packages\quiver_engine\server.py in <module>()
     11 from flask_cors import CORS
     12
---> 13 from gevent.wsgi import WSGIServer
     14
     15 from quiver_eng

[2018-06-15 15:51] jakebian commented on #71
Try (re)installing gevent?

[2018-06-18 10:39] jmgo commented on #71
I had the same problem and I fixed by changing

from gevent.wsgi import WSGIServer
to
from gevent.pywsgi import WSGIServer

[2018-06-19 01:04] jakebian commented on #71
Should be fixed by the newly merged PR

[2018-06-19 01:04] #71 closed

[2018-06-19 01:04] jakebian commented on #71
https://github.com/keplr-io/quiver/pull/72

[2018-06-24 03:26] evilnose commented on #66
This happened to me when I was trying to call model.to_json(). It turned out to stem from some issue in deepcopying the Lambda layer. What I tried in the end was to replace lambda expressions with actual functions, and this somehow resolved the issue. E.g.:

Before
`last_layer_out = Lambda(lambda x: some_function(x, other_local_var))(last_layer_out)`
Now
`x=Lambda(same_function_with_one_param)(x)`

[2018-06-24 23:20] jakebian commented on #66
@evilnose's comment is a specific instance of my more generic remark. Quiver delegates all model serialization to the official method from keras, hence you should address issues of this sort via complaining to keras OR making your models more picklable. Closing.

[2018-06-24 23:20] #66 closed

[2018-10-26 00:47] jorgeribeiro opened #73 "Quiverboard does not show the model"
I can see the images I placed inside the folder, but on the left panel nothing in shown. I am using load_model from keras to use my own trained model (VGG16), saved as h5.

Also, there is an error in the browser's console when the page opens:
`TypeError: e.config.map is not a function`
The browser says the error is in app.14b8092d6ea379715007.js line 44. I don't know if there is a relation between

[2018-11-05 18:11] jorgeribeiro commented on #73
Some updates about this issue:
I tried to use my own model as described, and my model is [Sequential](https://keras.io/getting-started/sequential-model-guide/). The models used in the tutorials are [Functional API](https://keras.io/getting-started/functional-api-guide/) and maybe (I am not sure about this) quiver is developed to work only with Functional API models. ASAP I will try to make a model

[2018-11-09 16:36] sudheerExperiments commented on #42
I am facing similar issue. My model uses 1 x 120 x 120 (channels x width x height) black and white images. My dataset has 300 x 300 (channels x width x height) black and white images. I resized the images to 120x120 while feeding data to my model.

When I used quiver to display conv layer outputs, input loads, but shows 'No data for this layer' error.

Any solution??

[2018-11-09 16:40] sudheerExperiments commented on #32
Instead of installing quiver by using 'pip install quiver', install from git directly as follows.

This should solve the problem.

[2018-11-13 15:47] sudheerExperiments commented on #73
Hello @jorgimello, I have similar issue. I am using custom network architecture built using functional API. When I launch quiver server, model architecture and images shows up, but when I select a layer, nothing shows up. I am getting error, 'No data to display'. How did you solve this issue?

[2018-11-13 15:55] jorgeribeiro commented on #73
Hello @sudheerExperiments,
have you selected a different layer? Because the first layers sometimes won't show anything, and it shows the message 'No data to display'. But the following layers maybe show something. Try it

[2018-11-13 18:06] sudheerExperiments commented on #73
I tried for all layers. Same problem with other layers too..

**Update:** Checked again, issue still exists.

Is there any specific data format for quiver @jorgimello

[2018-11-13 20:09] jorgeribeiro commented on #73
Well, I gotta try some new things, because I don't know the cause of your problem. But can you check your browser's console after running the application? See if any error is shown.

What you mean by data format? You mean the images to test?

- One thing you could do to make sure that the library is running correctly is using [VGG16](https://keras.io/applications/#vgg16) directly, train just for o

[2018-11-13 20:35] sudheerExperiments opened #74 "Quiver fails to load data when layers use 'channels_first' config"
For functional API, when input data uses '_channels_first_' format, the proceeding layers also follow the same format  '_channels_first_'. Looks like quiver doesn't handle such situations.

Quiver fails to display data and shows 'No data for this layer' when _input image_dim_ordering, conv_output_dim_ordering, max_pooling_dim_ordering_ is **'channels_first'**.

**Heads-up:** If this fix can be don

[2018-11-13 22:32] sudheerExperiments commented on #73
Hi,

I had problems with pip installed version of quiver, so I installed from git. Its working fine and I have all the latest updates.

I pinpointed the problem. It's because of my data format. Quiver requires input data to have **(nrows, ncols, nchannels)**, however, my data uses **(nchannels, nrows, ncols)**. The first format is called '_tf'_ format and the second format is called '_th_' format.

[2018-11-17 14:30] SagarRathod-TomTom commented on #32
Thanks, that helped!!

[2018-11-19 06:13] TheRum commented on #70
From what I have observed is, It only shows up "Convolutional related layers" i.e. Conv2D, Pooling and Activation layers. And will not visualize Flatten or Dense layers (also it seems meaningless to show these layers !).
Hence, you will be getting this "IndexError", when trying to visualize/select Dense/Flatten Layers.

Hope this helps!

[2019-01-13 14:38] seeledu commented on #32
thanks！

[2019-03-14 15:32] ghost commented on #60
I have this too.
[code]
[code]
[code]

[2019-03-25 04:38] 0xrushi opened #76 "Changing of the interface (feature request)"
Unfortunately this doesn't work on google colaboratory, cound you please make a fix for that ?
Like without a web server

[2019-04-04 15:53] Sebs030 commented on #73
Hi,
I am having the same issue as @jorgimello, the images show up, but the model architecture doesn´t. Instead the error `TypeError: e.config.map is not a function` is displayed in the google chrome console. I am using a custom sequential model, but i don´t think that´s the issue. Has anyone found a solution to this problem so far?

[2019-04-05 00:14] jorgeribeiro commented on #73
Well, I haven't. My solution was to use the models provided by Keras.

[2019-05-30 07:35] 945226956 commented on #73
I come a same problem. really hope fix soooooooooooooooooon ...  :）

[2019-05-30 07:39] 945226956 commented on #6
hello https://github.com/jakebian/quiver/issues/1 is missing

[2019-07-18 09:29] K-M-Ibrahim-Khalilullah commented on #66
@evilnose
I am facing the same problem. I would like to convert the following line from model.py into regular function.
` scores = utils.batch_slice([scores, ix], lambda x, y: tf.gather(x, y),
                                   self.config.IMAGES_PER_GPU)`
How can I do it, would you tell me please?

[2019-07-18 15:00] evilnose commented on #66
@ibrahimLearning simply replacing `lambda x, y: tf.gather(x, y)` with `tf.gather` should work, i.e. `scores = utils.batch_slice([scores, ix], tf.gather, self.config.IMAGES_PER_GPU)`. More generally, you can just `def` a function yourself and use that, (i.e. `def gather(x, y): return tf.gather(x, y)`), but that is unnecessary in this case.

You could also circumvent the pickling issue by simply cal

[2019-07-20 01:14] K-M-Ibrahim-Khalilullah commented on #66
@evilnose
Thank you much for your answer. I have one more question.

But I want to save full architecture of model. How can I do this?

[2019-07-29 06:49] evilnose commented on #66
@ibrahimLearning Try `save_model()`. If that doesn't work even after you've changed your lambda's to actual functions, then try calling `to_json()` as an alternative, as documented [here](https://keras.io/models/about-keras-models), which worked for me. Note that `to_json()` only saves the architecture, so you should call `save_weights()` separately to save the weights.

[2019-07-29 14:00] K-M-Ibrahim-Khalilullah commented on #66
@evilnose
Thank you very much for your comments.
I have one more question please.
Will I change all of the lambda function in model.py?

[2019-07-29 15:22] evilnose commented on #66
@ibrahimLearning Before you do that -- I did some investigation, and I found [this](https://stackoverflow.com/questions/47066635/checkpointing-keras-model-typeerror-cant-pickle-thread-lock-objects) post on Stack Overflow, which seems to imply that the issue is not the lambda function but the un-serializable arguments passed to `Lambda` layers. Are you using any `Lambda` layers in your model at all

[2019-08-17 11:33] mosesthorati commented on #32
Thanks man you saved my time

[2019-09-20 20:56] tirthajyoti opened #77 "Wrote an article and cited your package"
Hi,

My name is [Tirthajyoti ](https://github.com/tirthajyoti) and I write popular articles (not too technical but mainly for beginners in DS and ML) on data science and machine learning.

I just wrote an article on a compact way to train and visualize conv net models. I initially wrote about the [Keract package](https://github.com/philipperemy/keract).

Today I saw your package and added that too

[2019-11-07 12:30] ashishpatel26 opened #78 "ImportError: cannot import name 'imsave'"
ImportError: cannot import name 'imsave'
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-10-158a7ee53de1> in <module>
----> 1 from scipy.misc import imsave
      2 from quiver_engine.server import launch
      3
      4
      5 launch(model=model, input_folder='./img',port=7000)

[2019-11-29 08:08] christianversloot commented on #78
Replace `quiver_engine/file_utils.py` with

[code]

Possibly, also run `pip install imageio`.

`scipy.imsave` has been removed since its deprecation quite some time ago, but was not yet replaced in this package. Imageio is the recommended replacement.

[2019-12-04 05:57] rajee-a commented on #42
Successfully loaded but not output ?
![image](https://user-images.githubusercontent.com/31872062/70116556-11039700-1689-11ea-8bde-34bb16830231.png)

[2020-06-18 16:00] Shameendra opened #80 "Works with multi label tabular data?"
Hi i just was curious if i can use this for multi label tabular data. Since my table has 1000 columns as input data and target has 19 columns, can anyone explain if Quiver works? I tried but got errors like:

    IndexError: tuple index out of range

[2020-09-19 23:44] Rainweic commented on #78
pip install scipy==1.2.1

[2020-11-15 14:33] tomassams opened #83 "RuntimeError "The layer has never been called and thus has no defined input shape.""
I'm trying to install and run quiver to visualize a Keras model I've trained.

Running Windows 10 and Anaconda.

I installed quiver with git on a fresh conda environment

[code]

When I tried to launch, I got the imsave error from #78

After fixing that, I got the following error:

[code]

After fixing that (replacing image_dim_ordering as noted in [this issue](https://github.com/keras-team/keras/

[2021-01-18 08:01] ghylander commented on #83
also having this issue after going through the previous imsave and image_dim_ordering

if anyone knows a fix please share

[2021-01-18 09:02] ghylander commented on #83
i think i fixed it
in util.py, replace the `get_input_config` function with this one:

`def get_input_config(model):
    '''
        returns a tuple (inputDimensions, numChannels)
    '''

    return (
        model.get_config(0),
        model.get_config(0)
    ) if K.image_data_format() == 'th' else (
        #tf ordering
        model.get_layer(index=0).get_config(),
        model.get_layer(ind

[2021-01-18 09:04] ghylander commented on #83
probably needs more debuggin, but it doesn't throw an exception and it opens the localhost server

[2021-01-18 09:28] ghylander opened #84 "MobilenetV3 support?"
After bugfixing the issues in #83  and the issue in #78, feeding a mobilenetv3 model will not show the model tree on the left side of the panel, but no errors are reported. I am mamking sure of feeding a full model, as i know it is not possible to properly access collapsed keras models:

`
training_model.summary()

Model: "model"
_________________________________________________________________
La

[2021-01-18 10:08] ghylander commented on #73
i have the problem too
i have been able to take my sequential model and translate it to functional by simply replicating it, but i still get the same console error.

I think the problem might have to do with what sudheerExperiments says about the channels

[2021-01-18 14:31] ghylander commented on #83
the correct fix seems to be the following:

`        model.get_layer(index=0).get_config()["batch_input_shape"][0:3],
        model.get_layer(index=0).get_config()["batch_input_shape"][3]
    ) if K.image_data_format() == 'th' else (
        #tf ordering
	    model.get_layer(index=0).get_config()["batch_input_shape"][0:3],
        model.get_layer(index=0).get_config()["batch_input_shape"][3]`

[2021-01-18 14:31] ghylander commented on #83
the correct fix seems to be as follows:

`
        model.get_layer(index=0).get_config()["batch_input_shape"][0:3],
        model.get_layer(index=0).get_config()["batch_input_shape"][3]
    ) if K.image_data_format() == 'th' else (
        #tf ordering
	    model.get_layer(index=0).get_config()["batch_input_shape"][0:3],
        model.get_layer(index=0).get_config()["batch_input_shape"][3]
`

[2021-01-18 14:36] ghylander commented on #83
the correct fix seems to be as follows:

[code]

[2022-04-15 14:49] avaritia95 commented on #73
I found out that the problem comes from a javascript function try to use `map` on the wrong type.
I use VGG16 model from Keras 2.9. The server response to "/model" request is
[code]
Because `class_name` is not "Model",  the function `computeCytoscapeGraph` (quiverboard/src/ModelGraph/util.js) invoke `getSequentialCytoscapeGraph` instead of `getModelCytoscapeGraph`. The former function tries to use

[2022-04-18 12:35] ghylander commented on #73
That's a great find!
I had given up on this project and implemented a manual visualization tool using fchollet's work, but getting this to work would be great, both as a personal battle and because it's prettier.

I had removed my previous version of quiver and reinstalled just in hope we can make it work again. This led me to find out that Quiver is not currently compatible with python3.10,  as I

[2022-04-20 06:55] ghylander commented on #73
Managed to "solve" the Model != Functional issue

I edited the compiled js file (inmy case, it was called "app.14b8092d6ea379715007.js"

Had to change it in 2 spots:

- In line 8954:
[code]
- In line 9049:
[code]

This seems to load the model correctly and apply the map function to it, but results in countless new errors. These errors I assume are coming from unhandled layers. Screenshot of some o

[2022-04-22 17:42] avaritia95 commented on #73
If you are building from source, please change the code in `quiverboard/src/ModelGraph/util.js` and then use the command `npm deploy:prod` while in `quiverboard` directory. Ignore any error with UglifyJs for now. The command will create a new .js file in `quiverboard/dist`, and your code change will be picked up by the server.

Not really relevant to the topic but I wonder if your Sequential model